.page_components_containers {
	padding: 5px;
}

.page_component .page_component_header{
    border-bottom: 5px solid #CCC;
    height: 25px;
    background: #CCC;
    cursor: all-scroll;
    text-transform: capitalize;
}
.page_component .page_component_header h5{
    font-size: 16px;
    color: black;
}
.page_component .page_component_body{
    
}

.page_component {
    border: 5px solid #CCC;
    margin: 5px 0px;
    min-height: 50px;
}


.page_components_placeholder {
	border: 5px dashed #CCC;
}

.btn-edit-component {
	border-radius: 0;
	border: none;
}
.btn-remove-component {
	border-radius: 0;
	border: none;
}

.gtp_editable_text button, .gtp_editable_html button {
	float: left;
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

body.modal-open {
    overflow: visible;
}

.btn-toolbar .btn-group .btn{
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin: 0px;
}

.gtp_editable_html
{
    border: 1px dashed transparent;
}
.gtp_editable_text
{
    border: 1px dashed transparent;
}

.gtp_editable_html:hover
{
    border: 1px dashed #CCC;
}
.gtp_editable_text:hover
{
    border: 1px dashed #CCC;
}

.gtp_editable_input {
}

.gtp_editable_text textarea
{
    background: white;
    color: black;
}