@font-face{
    font-family:AktivGrotesk-Bold;
    src: url('../fonts/AktivGrotesk-Bold.ttf') format('truetype');
}

@font-face{
    font-family:AktivGrotesk-Light;
    src: url('../fonts/AktivGrotesk-Light.ttf') format('truetype');
}

@font-face{
    font-family:AktivGrotesk-Regular;
    src: url('../fonts/AktivGrotesk-Regular.ttf') format('truetype');
}



body,html, * {font-family: 'AktivGrotesk-Regular', sans-serif;}

.btn-wpp {position: fixed;right: 30px;display: flex;align-items: center;justify-content: center;z-index: 9999;bottom: 30px;}
.btn-wpp a {background: #fff;width: auto;height: auto;text-align: center;display: flex;align-items: center;justify-content: center;border-radius: 100%;padding: 11px 13px 12px 16px;}
.btn-wpp a:after {content: '';position: absolute;width: 0px;height: 0px;border-style: solid;border-width: 0 15px 25px 15px;border-color: transparent transparent #fff transparent;transform: rotate(224deg);bottom: -7px;left: -5px;}
.btn-wpp a i {font-size: 38px;color: #49d149;}

.navbar {margin:0;border:none;}
header.scroll {background:#fff;transition:.6s;}

.navbar-light .navbar-toggler {border-color: #000;background: transparent;font-size: 1.3rem;float: right;}

.image-slide {min-height:75vh;margin-top: 70px;background-size:cover;background-position:center;display:flex;align-items:center;justify-content:center;}
.image-slide h4, .image-slide h4 b {font-family:AktivGrotesk-Bold;background: rgb(0 17 60 / 51%);color: #fff;font-size: 33px;line-height: normal;display: inline-block;text-align: center;margin: 0;padding: 10px 10px;width: 100%;}

.hero-productos {position:relative;min-height:75vh;margin-top: 70px;margin-bottom:70px;background-size:cover;background-position:center;display:flex;align-items:center;justify-content:center;}
.hero-productos .w-100 {position:relative;z-index:1;}
.hero-productos h4, .hero-productos h4 b {font-family:AktivGrotesk-Bold;background: rgb(0 17 60 / 51%);color: #fff;font-size: 33px;line-height: normal;display: inline-block;text-align: center;margin: 0;padding: 10px 10px;width: 100%;}
.hero-productos .filter-hero {position: absolute;left: 0;right: 0;top: 0;bottom: 0;background: rgb(48 60 76 / 50%);z-index: 0;}


.otro-color.image-slide h4 {background: rgb(145 95 80 / 51%);}
.otro-color .content-text a {background:rgb(145 95 80 / 70%)}

a {text-decoration: none;transition: .6s;}
a:hover, a:focus {transition: .6s;outline:none;opacity:.5;text-decoration: none;}

header {position: fixed;top:0;left:0;right:0;width:100%;z-index:999;background:#fff;transition:.6s;}
header .navbar-brand {float: none;display:inline-block;height: auto;margin: 0 !important;max-width: 100%;padding:0px;margin-right:auto;}
header .navbar-brand img {max-width:200px;width:100%;}
header .navbar-nav {float:right;}
header .navbar-light .navbar-nav .nav-link {color:#303c4c;font-weight:500;font-size: 14px;text-transform: uppercase;font-family:AktivGrotesk-Light;letter-spacing:1px;padding:8px 14px;}
.navbar-nav .dropdown-toggle {text-transform: uppercase;font-size: 14px;background: #303c4c;font-family: AktivGrotesk-Light;letter-spacing: 1px;}
.navbar-nav .dropdown-toggle:hover, .navbar-nav .dropdown-toggle:active, .navbar-nav .dropdown-toggle:focus {color:#fff;}
.carousel-indicators [data-bs-target] {width: 12px;height: 12px;border-radius:100%;margin:0px 5px !important;}
.navbar-nav .nav-item:last-child {background-color: #303c4c;border-radius:5px;}
.navbar-nav .nav-item:last-child a {color:#fff;}
.navbar-nav .nav-item:last-child a:hover {color:#fff;}

.container-fluid .content {flex:1;}
.container-fluid .content form {position: relative;}
.container-fluid .content form i {position: absolute;right: 10px;font-size: 15px;top: 11px;}
.form-search input {width: 100%;padding: 8px 15px;font-size: 14px;border-color: #00113c;border-width: 1px;border-radius: 3px;}

.content-text {max-width: 100%;text-align:center;}
.content-text a {background: rgb(0 17 60 / 70%);color: #fff;font-size: 18px;padding: 10px 30px;display: inline-block;font-family: AktivGrotesk-Bold;font-weight: normal;text-transform: uppercase;border: 2px #ccc solid;margin-top: 30px;}

.products {padding: 80px 30px;background: #1C1C1C;text-align: center;position:relative;}
.products h3 {color:#FFC003;letter-spacing:2px;margin:0 0 65px;font-size:26px;}
.products .container {position:relative;z-index:1;}

.button-category {transition: .6s;background: transparent;display: inline-block;border: 1px #FFC003 solid;padding: 13px 35px 4px;line-height: 1;font-size: 14px;color: #FFC003;font-weight: 600;letter-spacing: 2px;}
.button-category:hover {transition:.6s;background:#FFC003;color:#1C1C1C;cursor:pointer;}
.button-category.active {transition:.6s;background:#FFC003 !important;color:#1C1C1C !important;cursor:pointer;}
.next {display: inline-block;background: #FFC003;color: #1C1C1C;line-height: 1;padding: 5px 10px;margin: 0;font-size: 10px;font-weight: 600;position: relative;top: -2px;}
.next p {margin:0;}

.products .boxes {margin:50px auto 0px;background:url('../img/detalle-atras.png');background-size:contain;background-position:center;background-repeat:no-repeat;}
.products .boxes .card-product-image {transition:1s;background: #fff;border-radius: 35px;padding:5px 5px 5px;width:100%;position:absolute;-webkit-backface-visibility: hidden;}
.products .caracts {display: flex;align-items: center;justify-content: space-between;padding:15px 20px 20px;}
.products .caracts .btn-ver-mas {cursor:pointer;background: #FFC003;display: inline-block;color: #1C1C1C;padding: 15px 18px;line-height: normal;border-radius: 10px;font-size: 10px;letter-spacing: 2px;}
.products .caracts .info-left p {margin:0 0 5px;}
.products .caracts .info-left {text-align:left;}
.products .caracts .info-left .color {display:inline-block;margin:0px 3px;width: 25px;height: 25px;background: #000;border-radius: 5px;}

.products .card-info-product {height:100%;transition:1s;display:flex;flex-direction:column;background: #FFC003;text-align: left;padding: 25px 30px 35px;border-radius: 35px;position: absolute;-webkit-backface-visibility: hidden;-webkit-transform: rotateY(180deg);}
.products .card-info-product h3 {color: #0F0F0F;margin: 0 0 10px;font-size: 43px;font-weight: 800;}
.products .card-info-product p {color: #0F0F0F;font-size: 15px;}
.products .card-info-product .btn-pedir {cursor:pointer;background: #fff;display: inline-block;color: #1C1C1C;padding: 15px 18px;line-height: normal;border-radius: 10px;font-size: 10px;letter-spacing: 2px;}
.products .card-info-product a {background: #fff;display: inline-block;color: #1C1C1C;padding: 15px 18px;line-height: normal;border-radius: 10px;font-size: 10px;letter-spacing: 2px;}
.products .card-info-product .w-100 {text-align:right;margin-top:auto;display:flex;align-items:center;justify-content:space-evenly;}

.products .content-arrow {cursor:pointer;margin-right: auto;background: #fff;padding: 15px 18px;border-radius: 10px;font-size: 11px;}

.card-product-image.hidden-card {-webkit-transform: rotateY(180deg);transition:1s;}
.card-info-product.show-card {-webkit-transform: rotateY(0deg);transition:1s;}

.image-detalle-01 {position: absolute;left: 0;right: 0;top: -30%;bottom: 0;z-index:0;}
.image-detalle-02 {position: absolute;left: 0;right: 0;top: -30%;bottom: 0;z-index:0;}

.nosotros {background:#0A0A0A;position:relative;padding:80px 0px;}
.nosotros .content-title {display: flex;align-items: center;justify-content: flex-start;margin: 0 0 25px;}
.nosotros .content-title span {font-family: Morganite-ExtraBold;font-size: 48px;font-weight: 600;color: #FFC003;line-height: normal;margin-right: 10px;}
.nosotros .content-title h3 {margin: 0;color: #FFC003;letter-spacing: 6px;font-weight: 800;font-size: 45px;}
.nosotros p {margin:0;line-height:normal;color:#FFC003;font-size:17px;}

.next-content {pointer-events:none;}


.blog {background:#0A0A0A;position:relative;padding:80px 0px 30%;}
.blog h3 {color: #FFC003;letter-spacing: 2px;margin: 0 0 65px;font-size: 26px;}
.card-blog {background: #fff;border-radius: 30px;text-align: center;display:flex;align-items:center;justify-content:center;flex-direction:column;height:100%;}
.content-img {border-radius:30px 30px 0px 0px;width: 100%;min-height: 180px;background-size: cover;background-position: center;}
.title-blog {background: #FFC003;display: inline-block;padding: 13px 35px;border-radius: 10px;position: relative;top: -20px;margin-bottom: -20px;}
.title-blog h4 {color:#1C1C1C;margin: 0;font-weight: 600;font-size: 16px;letter-spacing: 2px;}
.description-blog {padding:20px 35px 25px;margin-top:auto;margin-bottom:auto;}
.description-blog p {margin: 0;font-weight: 500;font-size: 15px;}

.blog .content-card-blog {background:url('../img/detalle-atras-02.png');background-size:contain;background-position:center;background-repeat:no-repeat;}

footer {background:#303c4c;padding:80px 0px;}
.gracias {background:url('../img/back-footer.jpg');padding: 100px 0px;min-height: 83vh;display: flex;align-items: center;justify-content: center;text-align: center;}
.gracias h3 {color:#fff;font-size:40px;}
.gracias p {color:#fff;font-size:20px;}

footer form {width:100%;display: block;}
footer form input, footer form textarea {font-weight:600;width:100%;border:none;margin:5px 0px;padding:14px 15px;border-radius:10px;}
footer form textarea {min-height:150px;}
footer form input[type="submit"] {display: inline-block;width: auto;padding: 10px 40px;background: #FFC003;}

footer h3 {margin: 0 0 20px;font-size: 20px;color: #fff;letter-spacing: 1px;text-transform:uppercase;}

.content-redes {display: flex;align-items: center;justify-content: center;flex-direction:column;}
.content-redes .redes-links {display: flex;align-items:center;justify-content:center;margin:15px 0px 0px;}
.content-redes .redes-links a {color: #7c8b9e;font-weight: 800;font-size: 16px;margin:0px;display: flex;align-items: center;}
.content-redes .redes-links i {font-size:23px;margin-right:0px;width:30px;text-align:center;}

footer .other-enlaces {display: flex;align-items: flex-start;justify-content: flex-start;color: #fff;font-size: 16px;}
footer .other-enlaces p {margin:0px 7px;}


::placeholder {
  color: #303c4c;}

 .back-producto {min-height:435px;background-size:cover !important;background-position:center !important;width:100%}

.asesoramiento {margin:-22% 0;position:relative;}
.arrow-div {position: absolute;bottom: -25px;right: 0;left: 0;text-align: center;cursor:pointer;}
.arrow-div .content-arrow {font-size:20px;display: inline-block;background: #fff;padding: 10px 15px;border-radius: 10px;}

.card-asosa {position:relative;min-height:300px;text-align:center;background: linear-gradient(150deg, rgba(255,192,3,1) 42%, rgba(255,203,49,1) 73%, rgba(255,213,92,1) 100%);border-radius:30px;padding:15px 25px 30px;padding-bottom:45px;display:flex;flex-direction:column;}
.card-asosa img {max-width:120px;margin:0px auto 0px;}
.card-asosa p {font-weight:500;color:#1C1C1C;text-align: left;font-size: 15px;line-height: normal;margin: 0px;}
.card-asosa h4 {text-align: left;font-size: 19px;margin:auto 0 auto;font-weight: 600;letter-spacing: 2px;}
.card-asosa .content-01 , .card-asosa .content-02 {display:none;transition:.6s;}

.card-asosa .content-01.show-content , .card-asosa .content-02.show-content {transition:.6s;display:block;margin-top:20px;}


.asesoramiento h3 {color: #FFC003;letter-spacing: 2px;margin: 0 0 65px;font-size: 26px;text-align:center;}

footer .copy {margin: 80px 0 0;color: #fff;font-weight: 500;font-size: 13px;}

.content-card {-webkit-transition: 0.6s;-webkit-transform-style: preserve-3d;position: relative;height:100%;}
.box-card-product {position:relative;-webkit-perspective: 1000;margin: 0;width: 100%;height: 550px;border-radius: 15px;}

.owl-carousel .owl-stage-outer {padding:10px 0px;}

.modal-form {position: absolute;left: 0;right: 0;bottom: 0;top: 0;z-index: 99;display: none;align-items: center;justify-content: center;}
.modal-form .close-form {cursor:pointer;position: absolute;right: -5px;top: -5px;background: #fff;width: 30px;height: 30px;display: flex;align-items: center;justify-content: center;border-radius: 100%;font-weight: bold;border: 2px #000 solid;}
.modal-form .content-form {position:relative;background: #000;padding: 25px 30px;max-width: 400px;border-radius: 15px;box-shadow: 3px 4px 13px 4px rgb(0 0 0 / 21%);}
.modal-form .content-form form {text-align:left;}
.modal-form .content-form input, .modal-form .content-form textarea {font-weight:600;width:100%;border:none;margin:5px 0px;padding:14px 15px;border-radius:10px;}
.modal-form .content-form textarea {min-height:150px;}
.modal-form .content-form input[type="submit"] {display: inline-block;width: auto;padding: 10px 40px;background: #FFC003;}
.products .modal-form .content-form h3 {margin: 0;text-align: left;padding-bottom: 10px;font-size: 15px;color: #fff;}

.owl-nav, .owl-dots {display:none;}

.main-categorias {display:block;clear:both;padding:100px 0px;}
.categorias {display:flex;align-items:center;justify-content:center;margin-bottom: 90px;}
.categorias a {position:relative;margin:0 5px;display:flex;align-items:center;justify-content:center;flex:1;background-size:cover;background-position:center;min-height: inherit;max-width: inherit;flex-direction: column;border: 3px rgb(48 60 76 / 7%) solid;box-shadow: 5px 12px 9px 1px rgb(48 60 76 / 14%);padding: 10px;}
.categorias a:hover {opacity:1;transform:scale(1.01);}
.categorias a:hover .image-category .filter-black {opacity:0;transition:.6s;}
.categorias a .filter-blanco {position: absolute;background: rgb(255 255 255 / 68%);left: 0;right: 0;bottom: 0;top: 0;width: 100%;height: 100%;border-radius: 100%;z-index: 0;}
.categorias a p {color: #303c4c;text-align: right;margin: 25px 0 0;position: relative;z-index: 1;padding: 5px 10px;border-radius: 5px;text-transform: uppercase;font-size: 12px;font-family: AktivGrotesk-Bold;}
.categorias a h3 {text-transform: uppercase;color: #303c4c;text-align: left;font-size: 14px;position: relative;z-index: 2;font-family: AktivGrotesk-Bold;}
.categorias .image-category {position:relative;transition:.6s;display: block;max-width: 300px;width: 100%;height: 85px;background-size: cover;background-position: center;}
.categorias .image-category .filter-black {transition:.6s;position:1;position: absolute;left: 0;bottom: 0;top: 0;right: 0;background: rgb(0 0 0 / 55%);}
.categorias .content-category {display:inline-block;width:100%;}

.box-icons img {max-width:75px;}
.box-icons h3 {margin: 10px 0;font-size: 21px;font-family: 'AktivGrotesk-Bold', sans-serif;color: #303c4c;}
.box-icons p {margin: 0;font-size: 15px;color: #303c4c;}

.login {display: block;clear: both;margin-top: 70px;padding: 100px 0px;}
.login form {display: block;width: 100%;border: 1px rgb(48 60 76 / 20%) solid;padding: 20px;border-radius: 5px;}
.login form a {display: block;margin-top: 10px;color: #000;text-decoration: underline;}
.login form input {width:100%;margin:5px 0px;padding:12px 15px;border-radius:5px;border-width:1px;font-size:16px;}
.login form input[type="submit"] {background:#303c4c;color:#fff;}

.registro {display: block;clear: both;margin-top: 70px;padding: 100px 0px;}
.registro form {position:relative;display: block;width: 100%;border: 1px rgb(48 60 76 / 20%) solid;padding: 20px;border-radius: 5px;}
.registro form a {display: block;margin-top: 10px;color: #000;text-decoration: underline;}
.registro form input {width:100%;margin:5px 0px;padding:12px 15px;border-radius:5px;border-width:1px;font-size:16px;}
.registro form input[type="submit"] {background:#303c4c;color:#fff;}

.user-existe {position: absolute;opacity:0;transition:.6s;bottom: 0;left: 0;right: 0;top: 0;background: #000000a3;z-index: -1;border-radius: 5px;display: flex;align-items: center;justify-content: center;text-align: center;}
.user-existe.abrir {opacity:1;z-index:1;transition:.6s;}
.user-existe .close-modal {cursor:pointer;position: absolute;right: 0;top: 0;background: #fff;color: #000;width: 30px;height: 30px;display: flex;align-items: center;justify-content: center;font-size: 18px;}
.user-existe h3 {color:#fff;margin:0px;font-size:18px;}

.enlace-producto {min-height: 500px;margin:10px 0px;display: block;width: 100%;border: 3px rgb(48 60 76 / 7%) solid;padding: 10px;box-shadow: 5px 12px 9px 1px rgb(48 60 76 / 14%);}
.enlace-producto .image-product {min-height: 375px;width: 100%;background-size: cover;background-position: center;}
.enlace-producto:hover {opacity:.8;transform:scale(1.01);}

.content-info {padding:15px 15px 0px;}
.content-info h3 {color: #303c4c;font-size: 16px;margin: 5px 0px;font-family: AktivGrotesk-Bold;margin-bottom: 5px;margin-top: 0px;}
.content-info p {font-family: AktivGrotesk-Light;color: #000;font-size: 12px;margin: 2px 0px;}
.conteiner-link {color: #303c4c;font-size: 12px;margin: 6px 10px;font-family: AktivGrotesk-Bold;text-align: right;display: block;}

.grid-products .col-12 {padding:0px 7px;}
.box-filter .btn {background: transparent;color: #000;font-family: AktivGrotesk-Regular;font-weight: normal;font-size: 17px;border: none;margin: 5px 0px;text-transform: uppercase;width: 100%;text-align: left;display: flex;align-items: center;justify-content: flex-start;}
.box-filter .btn:focus, .box-filter .btn:active {box-shadow: none;background:none !important;border:none !important;color:#000;}
.box-filter .btn i {font-size: 18px;margin-right: 5px;color: #7f7777;}
.box-filter .btn i.fa-chevron-down {margin-left:auto;font-size:13px;}
.box-filter .card-body a {color: #000;font-size: 15px;font-family:AktivGrotesk-Light;}

.grid-products {padding-bottom:80px;}

.box-pdf {display:block;width:100%;text-align: center;}
.box-pdf a {background: transparent;border: 2px #ccc solid;padding: 10px 15px;display: inline-block;color: #000;margin-top: 30px;font-size: 14px;}
.box-pdf a i {margin-left:5px;}

.producto {margin-top:70px;}
.producto .box-producto {padding:50px;}
.producto h3 {color: #303c4c;font-size: 22px;margin: 5px 0px;font-family: AktivGrotesk-Bold;margin-bottom: 5px;margin-top: 0px;}
.producto .descripcion p {font-size:18px;}
.producto p {font-family: AktivGrotesk-Light;color: #000;font-size: 15px;margin: 2px 0px;}

.consultar-btn {display: flex;align-items: center;width: 100%;}
.consultar-btn .volver {display: inline-block;margin-right: auto;}
.consultar-btn .volver i {font-size: 35px;color: #303c4c;}

.consultar-btn .consulta {display: inline-flex;color: #fff;font-size: 15px;background: #49d149;padding: 10px 15px;border-radius: 5px;text-transform: uppercase;align-items: center;justify-content: center;}
.consultar-btn .consulta i {font-size: 24px;margin-left: 9px;color: #fff;}

.checkbox-custom-check {display: flex;cursor: pointer;align-items: center;justify-content: flex-start;margin: 3px 0px;}

form .content-button {text-align: center;display: flex;align-items: center;justify-content: center;}
form input[type="submit"] {margin-left:15px;background: transparent;border: 2px #ccc solid;padding: 10px 15px;display: inline-block;color: #000;margin-top: 30px;font-size: 14px;}
form button {background: transparent;border: 2px #ccc solid;padding: 10px 15px;display: inline-block;color: #000;margin-top: 30px;font-size: 14px;}


.checkbox-custom-check input[type="checkbox"]:checked,
.checkbox-custom-check input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.checkbox-custom-check input[type="checkbox"]:checked + label,
.checkbox-custom-check input[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.checkbox-custom-check input[type="checkbox"]:checked + label:before,
.checkbox-custom-check input[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    background: #fff;
}
.checkbox-custom-check input[type="checkbox"]:checked + label:after,
.checkbox-custom-check input[type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 18px;
    height: 18px;
    background: #303C4E;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.checkbox-custom-check input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.checkbox-custom-check input[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.checkbox-custom-check label {margin: 5px 0px;cursor:pointer;}
.checkbox-custom-check:hover {cursor:pointer;}

/* MEDIA QUERY */

@media (max-width: 767px){

    .navbar-nav .nav-item:last-child {background:transparent;}
  footer {padding:40px 0px;}
  footer .other-enlaces {margin-bottom:30px;}
  footer h3 {padding:20px 0px 0px;}
  footer .other-enlaces p {font-size:19px;margin:-6px 7px;}
  .content-redes {margin-top:70px;}

  .owl-nav {display: flex;position: absolute;right: -20px;left: -20px;top: 0;bottom: 0;align-items: center;justify-content: center;}
  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {color:#fff;font-size:44px;}
  .owl-carousel .owl-nav button.owl-prev {margin-right:auto;}
  .owl-dots {display:block;}
  .owl-carousel button.owl-dot.active {opacity:1;}
  .owl-carousel button.owl-dot {background:#fff;width:10px;height:10px;border-radius:100%;margin:0 5px;opacity:.5;}
  .navbar-collapse {text-align: center;width: 100%;background: #000;}
  header .navbar-nav {float:none;}
  .products h3 {margin:0 0 35px;}
  .next-content {margin:5px 0px}
  .button-category {margin:5px 0px;display:block;}
  .box-card-product {height:550px;}

  .button-category {padding:13px 0px 4px;}

  .nosotros .row {margin:0;padding:0px 20px;flex-direction:column-reverse;}
  .nosotros .content-title span {font-size:44px;}
  .nosotros .content-title h3 {font-size:35px;}
  .blog .row, .asesoramiento .row, footer .row {padding:0 20px;margin:0px;}
  .card-blog, .card-asosa, footer form {margin-bottom:40px;}

  .button-category {font-size:12px;}
  .image-detalle-01, .image-detalle-02 {top:-5%}

  .card-asosa h4 {text-align:center;}
  .asesoramiento {background:#000;}

  .content-redes .redes-links {margin-right:0px;}

  .products {padding:80px 10px;}
  .products .row {margin:0px;}
  .navbar-light .navbar-toggler-icon {background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23FFC003' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");}
  .products .caracts .btn-ver-mas, .products .card-info-product .btn-pedir {font-size:9px;padding:15px 10px;}
  .products .caracts .info-left .color {width:22px;height:22px;}

  header .navbar-light .navbar-nav .nav-link {padding:0px 15px;}
  .navbar-collapse {float:right;width:auto;display:block !important;}

  .btn-wpp {right:15px;bottom:15px;}

  .card-blog {height:auto;}

  .main-categorias {padding:40px 0px;}
  .categorias {flex-direction:column;}
  .categorias a {margin:20px 5px;max-width:250px;width:100%;}

  .container-fluid .content {flex:0 0 50%;}
}